<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Browse Reservations
        </title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="/client/css/browse-data.css">
        <script src="/client/js/config.js"></script>
        <script src='/client/js/browse-data.js'></script>
    </head>
  
    <body data-ng-app="browseDataApp" data-ng-controller="browseDataCtrl">
        <header>
            <!--same links as landing page-->
            <nav class="nav">
                <div class="link-container">
                    <a class="link" href="/home">Home</a>
                    <a class="link" href="/write-data">Enter Data</a>
                    <a class="link" href="/view-data">View Data</a>
                    <a class="link" href="/browse-data">Browse Data</a>
                </div>
            </nav>
    
            <h1>Browse Data</h1>
        </header>
        
        <main>
            <div>
                <label for="name">Name:</label>
                <span id="name">{{ obj.name }}</span>
            </div>
      
            <div>
                <label for="date">Date:</label>
                <span id="date">{{ obj.date }}</span>
            </div>
      
            <div>
                <label for="time">Time:</label>
                <span id="time">{{ obj.time }}</span>
            </div>
      
            <div>
                <label for="requests">Requests:</label>
                <span id="requests">{{ obj.requests }}</span>
            </div>
            
            <div>
                <label for="phone">Phone:</label>
                <span id="phone">{{ obj.phone }}</span>
            </div>

            <div>
                <label for="email">Email:</label>
                <span id="email">{{ obj.email }}</span>
            </div>
      
            <div class="button-container">
                <button id="previous" data-ng-click="changeReservation(-1)" data-ng-hide="hidePrev">&lt&lt&lt Previous;</button>
                <button id="next" data-ng-click="changeReservation(1)" data-ng-hide="hideNext">Next &gt&gt&gt;</button>
            </div>
        </main>
    </body>
</html>