/*same header, nav css as landing page*/

header {
    text-align: center;
    padding: 20px;
}

nav {
    padding: 10px;
    background-color: forestgreen;
}

.link-container {
    text-align: center;
}

.link {
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.link:hover {
    color: lightgreen;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 4rem;   /*rm: root em - adjusts font size reltive to root element font size*/
    font-weight: bold;
    letter-spacing: 2px;
    color: whitesmoke;
    background-color: forestgreen;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;   /*rm: root em - adjusts font size reltive to root element font size*/
    font-weight: bold;
    letter-spacing: 2px;
    color: whitesmoke;
    background-color: forestgreen;
    text-align: center;
    margin-bottom: 20px;
}

body::before {        /*pseudo-element used to create overlay effect on top of background image*/
    content: '';      /*creates pseudo-element, empty string*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;     /*vw: viewport width - percentage screen width*/
    height: 100vh;    /*vh: viewport height*/
    background: rgba(0, 0, 0, 0.5); /*Dark overlay. r,g,b,opacity*/
    z-index: -1;      /*stacking order. negative places pseudo-element behind content*/
}

body{
    font-family: 'Arial', sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;   /*keeps background fixed during scrolling*/
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.table-container {
    width: 70%;
    margin: 0 auto; /*center table-container*/
    display: flex;
    justify-content: center;
}
table {
    background-color: rgba(255, 255, 255, 0.9); /*slight transparency*/
    width: 100%;
    border-collapse: collapse;                    /*merge borders*/
}

tbody tr {
    background-color: lightgrey;
}
thead {
    background-color: forestgreen;
    color: whitesmoke;
}

.table th, .table td {
    padding: 15px 25px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ccc; /*Add borders between rows*/
}

.table th {
    padding-bottom: 20px;
}

td {
    font-size: 20px;
}